@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Sergiu Voloc Office</h1>
</div>

<div class="text-center">
    <div>
        <h2>Welcome!</h2>
        <p>SVOffice is a simple application that perform a CRUD and Search 
            operations using .NET Core 3.1 MVC 5 on Employees SQL Database.
        </p>
    </div>
</div>
